/* 
css文件应用：
<link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.css">
 */
/* .container {
    display: flex;
}

.left-column {
    flex: 1;
    background-color: lightgray;
}

.right-column {
    flex: 2;
    background-color: lightblue;
}
 */

p {
    margin: 20px;
}