/*image.png*/

/*文本 2*/

left: 78px;
top: 832px;
width: 141px;
height: 29px;
opacity: 1;
/** 文本1 */
font-size: 20px;
font-weight: 200;
letter-spacing: 0px;
line-height: 28.74px;
color: rgba(255, 255, 255, 1);
text-align: left;
vertical-align: top;


/*rectangle 13*/

left: 809px;
top: 184px;
width: 519px;
height: 677px;
opacity: 1;
border-radius: 40px;
background: rgba(255, 255, 255, 0.75);


/*rectangle 1*/

left: 887px;
top: 418px;
width: 369px;
height: 62px;
opacity: 1;
border-radius: 8px;
background: rgba(240, 239, 255, 1);


/*enter email*/

left: 19px;
top: 14px;
width: 75px;
height: 22px;
opacity: 1;
/** 文本1 */
font-size: 15px;
font-weight: 400;
letter-spacing: 0px;
line-height: 21.56px;
color: rgba(214, 62, 85, 1);
text-align: left;
vertical-align: top;


/*rectangle 2 copy备份*/

left: 232px;
top: 10px;
width: 0.5px;
height: 30px;
opacity: 1;
border-radius: 5px;
background: rgba(138, 53, 34, 0.4);

border: 1px solid rgba(138, 53, 34, 0.16);



/*获取验证码*/

left: 243px;
top: 16px;
width: 77px;
height: 21px;
opacity: 1;
/** 文本1 */
font-size: 14px;
font-weight: 400;
letter-spacing: 1.35px;
line-height: 20.12px;
color: rgba(240, 82, 68, 1);
text-align: left;
vertical-align: top;


/*password field*/

left: 891px;
top: 424px;
width: 330px;
height: 50px;
opacity: 1;


/*分组 1*/

left: 887px;
top: 418px;
width: 369px;
height: 62px;
opacity: 1;


/*rectangle 1*/

left: 884px;
top: 331px;
width: 369px;
height: 62px;
opacity: 1;
border-radius: 8px;
background: rgba(240, 239, 255, 1);


/*enter email*/

left: 910px;
top: 351px;
width: 60px;
height: 22px;
opacity: 1;
/** 文本1 */
font-size: 15px;
font-weight: 400;
letter-spacing: 0px;
line-height: 21.56px;
color: rgba(214, 62, 85, 1);
text-align: left;
vertical-align: top;


/*group 4*/

left: 884px;
top: 331px;
width: 369px;
height: 62px;
opacity: 1;


/*group 7*/

left: 884px;
top: 331px;
width: 369px;
height: 62px;
opacity: 1;


/*group 15*/

left: 884px;
top: 331px;
width: 369px;
height: 62px;
opacity: 1;


/*rectangle 1*/

left: 884px;
top: 491px;
width: 369px;
height: 62px;
opacity: 1;
border-radius: 8px;
background: rgba(240, 239, 255, 1);


/*create user name*/

left: 910px;
top: 511px;
width: 45px;
height: 22px;
opacity: 1;
/** 文本1 */
font-size: 15px;
font-weight: 400;
letter-spacing: 0px;
line-height: 21.56px;
color: rgba(214, 62, 85, 1);
text-align: left;
vertical-align: top;


/*group 4*/

left: 884px;
top: 491px;
width: 369px;
height: 62px;
opacity: 1;


/*group 7*/

left: 884px;
top: 491px;
width: 369px;
height: 62px;
opacity: 1;


/*group 17*/

left: 884px;
top: 491px;
width: 369px;
height: 62px;
opacity: 1;


/*rectangle 1*/

left: 884px;
top: 572px;
width: 369px;
height: 62px;
opacity: 1;
border-radius: 8px;
background: rgba(240, 239, 255, 1);


/*confrim password*/

left: 913px;
top: 592px;
width: 147px;
height: 22px;
opacity: 1;
/** 文本1 */
font-size: 15px;
font-weight: 400;
letter-spacing: 0px;
line-height: 21.56px;
color: rgba(214, 62, 85, 1);
text-align: left;
vertical-align: top;


/*group 5*/

left: 884px;
top: 572px;
width: 369px;
height: 62px;
opacity: 1;


/*vector*/

left: 8.37px;
top: 5.8px;
width: 2.45px;
height: 2.45px;
opacity: 1;
background: rgba(214, 62, 85, 1);


/*vector*/

left: 5.42px;
top: 2.32px;
width: 11.58px;
height: 9.46px;
opacity: 1;
background: rgba(214, 62, 85, 1);


/*vector*/

left: 0px;
top: 1.16px;
width: 15.45px;
height: 14.68px;
opacity: 1;
background: rgba(214, 62, 85, 1);


/*group*/

left: 0px;
top: 1.16px;
width: 17px;
height: 14.68px;
opacity: 1;


/*group*/

left: 0px;
top: 1.16px;
width: 17px;
height: 14.68px;
opacity: 1;


/*group*/

left: 0px;
top: 1.16px;
width: 17px;
height: 14.68px;
opacity: 1;


/*invisible 1*/

left: 1204px;
top: 595px;
width: 17px;
height: 17px;
opacity: 1;


/*group 6*/

left: 884px;
top: 572px;
width: 369px;
height: 62px;
opacity: 1;


/*group 8*/

left: 884px;
top: 572px;
width: 369px;
height: 62px;
opacity: 1;


/*rectangle 2*/

left: 884px;
top: 662px;
width: 369px;
height: 59px;
opacity: 1;
border-radius: 9px;
background: rgba(214, 62, 85, 1);
box-shadow: 0px 4px 61px  rgba(77, 71, 195, 0.4);


/*register*/

left: 1042px;
top: 680px;
width: 32px;
height: 23px;
opacity: 1;
/** 文本1 */
font-size: 16px;
font-weight: 500;
letter-spacing: 0px;
line-height: 22.4px;
color: rgba(255, 255, 255, 1);
text-align: left;
vertical-align: top;


/*group 9*/

left: 884px;
top: 662px;
width: 369px;
height: 59px;
opacity: 1;


/*group 14*/

left: 884px;
top: 662px;
width: 369px;
height: 59px;
opacity: 1;


/*or continue with*/

left: 1006px;
top: 741px;
width: 80px;
height: 23px;
opacity: 1;
/** 文本1 */
font-size: 16px;
font-weight: 500;
letter-spacing: 0px;
line-height: 22.4px;
color: rgba(214, 62, 85, 1);
text-align: left;
vertical-align: top;


/*bg*/

left: 969.59px;
top: 785.59px;
width: 36.28px;
height: 36.28px;
opacity: 1;
background: linear-gradient(180deg, rgba(24, 172, 254, 1) 0%, rgba(1, 99, 224, 1) 100%);


/*f*/

left: 979.96px;
top: 795.02px;
width: 15.55px;
height: 28.5px;
opacity: 1;
background: rgba(255, 255, 255, 1);


/*facebook*/

left: 967px;
top: 784.66px;
width: 41.46px;
height: 41.46px;
opacity: 1;


/*bg*/

left: 1031.78px;
top: 785.59px;
width: 36.28px;
height: 36.28px;
opacity: 1;
background: rgba(40, 53, 68, 1);


/*apple*/

left: 1040.85px;
top: 792.07px;
width: 18.14px;
height: 20.73px;
opacity: 1;
background: rgba(255, 255, 255, 1);


/*apple*/

left: 1029.19px;
top: 783px;
width: 41.46px;
height: 41.46px;
opacity: 1;


/*vector*/

left: 1111.64px;
top: 800.42px;
width: 17.77px;
height: 17.05px;
opacity: 1;
background: rgba(66, 133, 244, 1);


/*vector*/

left: 1095.11px;
top: 807.32px;
width: 28.79px;
height: 14.55px;
opacity: 1;
background: rgba(52, 168, 83, 1);


/*vector*/

left: 1093.13px;
top: 795.5px;
width: 7.98px;
height: 16.37px;
opacity: 1;
background: rgba(251, 188, 5, 1);


/*vector*/

left: 1095.11px;
top: 785.59px;
width: 28.91px;
height: 14.55px;
opacity: 1;
background: rgba(235, 67, 53, 1);


/*google*/

left: 1090.54px;
top: 783px;
width: 41.46px;
height: 41.46px;
opacity: 1;


/*group 12*/

left: 967px;
top: 783px;
width: 165px;
height: 43.12px;
opacity: 1;


/*group 13*/

left: 967px;
top: 783px;
width: 165px;
height: 43.12px;
opacity: 1;


/*sign up*/

left: 882px;
top: 240px;
width: 100px;
height: 72px;
opacity: 1;
/** 文本1 */
font-size: 50px;
font-weight: 200;
letter-spacing: 0px;
line-height: 71.85px;
color: rgba(214, 62, 85, 1);
text-align: left;
vertical-align: top;


/*group 19*/

left: 882px;
top: 240px;
width: 374px;
height: 586.12px;
opacity: 1;


/*desktop 2*/

left: 804px;
top: -500px;
width: 1440px;
height: 1024px;
opacity: 1;
background: rgba(0, 0, 0, 1);
